<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idex</title>

    <script>
        function initWebSocket(){
            const socket = new WebSocket('ws://26.8.137.161:9000/video-upload-progress');

            socket.onopen = function (event) {
                console.log('WebSocket is connected:');
            };

            socket.onclose = function (event) {
                console.log('WebSocket is closed:');
                console.log('WebSocket will reconnect after 5 seconds');
                setTimeout(initWebSocket, 5000);
            };

            socket.onerror = function (event) {
                console.log('WebSocket is error:');
            };

            socket.onmessage = function (event) {
                if(event.data.startsWith("SESSION_ID:")) {
                    const sessionId = event.data.split(":")[1];
                    document.getElementById('webSocketSessionId').value = sessionId;
                    console.log('WebSocketSession id: ' + sessionId);
                }
                if(event.data.startsWith("PROGRESS:")){
                    // const progress = parseInt(event.data.split(":")[1]);
                    const parts = event.data.split(":");
                    const progress = parts.length > 1 ? parseInt(parts[1], 10) : 0;
                    document.getElementById('uploadProgress').value = progress;
                    document.getElementById("progress-text").innerText = progress;
                }
            };
        }

        initWebSocket();
        function openProgressBar() {
            document.getElementById('progressContainer').style.display = 'block';
        }
    </script>
</head>
<body>

<form enctype="multipart/form-data" method="post" th:action="@{/addVideo}" onsubmit="openProgressBar()">
    <input id="video" name="video" type="file">
    <input type="hidden" id="webSocketSessionId" name="webSocketSessionId" value="">

    <button class="btn btn-primary" type="submit" value="Upload">Add Video</button>
</form>

<div style="width: max-content; border: solid 2px ">
    <p th:text="${name} ?: 'No uploaded video'"></p>
    <p id="queue" style="display: none"><span id="queue-number">% </span> in Queue</p>
</div>

<div id="progressContainer" style="display: none;">
    <span id="progress-text">0</span>% complete</p>
    <progress id="uploadProgress" max="100" value="0"></progress>
</div>

<div th:each="video : ${videos}">
    <video controls controlsList="nodownload" height="360" th:src="${video.getPathToVideo()}" width="640"></video>
</div>

</body>
</html>